.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: black;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
#btn_zuri{
  text-align:center;
  margin:auto;
  justify-content: center;
  padding:20px;
  font-family:'Poppins';
  font-weight: bolder;
}
#books{
  text-align:center;
  margin:auto;
  display:flex;
  justify-content: center;
  padding:10px;
  font-family:'Poppins';
}
#book_python{
  text-align:center;
  margin:auto;
  display:flex;
  justify-content: center;
  padding:20px;
  font-family:'Poppins';
}
#pitch{
  text-align:center;
  margin:auto;
  display:flex;
  padding:20px;
  justify-content: center;
  font-family:'Poppins';
}
#book_design{
  text-align:center;
  margin:auto;
  display:flex;
  padding:10px;
  justify-content: center;
  font-family:'Poppins';
}
#profile_img{
  text-align:center;
  margin:auto;
  display:flex;
  justify-content: center;
  font-family:'Poppins';
}
#twitter{
  text-align:center;
  margin:auto;
  display:flex;
  justify-content: center;
  padding:10px;
  font-family:'Poppins';
  font-weight: bolder;
}
.btn{
  width:100%;
  border-radius:10px;
  font-weight: bolder;
}
.logos{
  justify-content: center;
  margin:auto;
  display:flex;
}
.foot{
  display:flex;
  justify-content: center;
  text-align: center;
  margin: auto;
}

